<div class="app">
  <div class="header">
    <h1>TDL</h1>
    <!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
    <nav>
      <a
        routerLink="/task"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Tasks</a
      >
      <a
        routerLink="/calendar"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Calendar</a
      >
      <a
        routerLink="/stats"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Statistics</a
      >
      <a
        routerLink="/wiki"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Wiki</a
      >
      <a
        routerLink="/flashcards"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Flash cards</a
      >
      <app-login-button style="float: right"></app-login-button>
    </nav>
  </div>
  <div class="subHeader">
    <app-wisecracker></app-wisecracker>
  </div>

  <div class="content">
    <!-- The routed views render in the <router-outlet>-->
    <router-outlet></router-outlet>
  </div>
</div>
