form {
    margin: 0 1rem 0 1rem;
}


.formElement {
    margin: .5rem 0 .5rem 0;
}

.formElement label {
    width: 100%;
}

.formElement input, .formElement textarea {
    width: 100%;
}


.infobox {
    margin: 0 1rem 0 1rem;
}


.deleteModal {
    position: absolute;
    top: 40%;
    left: 25%;
}
.deleteModal::after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-dark-grey);
    opacity: 0.5;
    z-index: 0;
}

.deleteModalContent {
    outline: auto;
    outline-width: 1px;
    outline-color: var(--color-light-grey);
    background-color: var(--color-white);
    z-index: 1;
    position: relative;
    background-color: var(--color-white);
    padding: 0.5rem;
}

.completeButton {
    background-color: var(--color-secondary-1-1);
    margin-left: 5rem;
}

.deleteButton {
    background-color: red; 
    float: right;
}