form {
    margin: 0 1rem 0 1rem;
}


.formElement {
    margin: .5rem 0 .5rem 0;
}

.formElement label {
    width: 100%;
}

.formElement input, .formElement textarea {
    width: 100%;
}


.infobox {
    margin: 0 1rem 0 1rem;
}


.deleteModal {
    position: absolute;
    background-color: var(--color-white);
    outline: auto;
    outline-width: 1px;
    outline-color: var(--color-light-grey);
    padding: 0.5rem;
}
