<form [formGroup]="form">
    <div class="formElement">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" formControlName="title">
    </div>
    <div class="formElement">
        <label for="description">Description:</label>
        <textarea type="text" name="description" id="description" formControlName="description"></textarea>
    </div>
    <div class="formElement">
        <label for="deadline">Deadline:</label>
        <input type="date" name="deadline" id="deadline" formControlName="deadline">
    </div>
    
</form>

<div class="infobox" *ngIf="currentTask$ | async as currentTask">
    <p>Time active: {{ currentTask.secondsActive | secondsToTimestring }} / recursive: {{ recursiveTimeActive(currentTask) | secondsToTimestring }}</p>

    <app-timeline *ngIf="estimate" [estimate]="estimate" [active]="recursiveTimeActive(currentTask)"></app-timeline>


    <div style="margin: 15px 0 15px 0;">
        <app-form-drag-list></app-form-drag-list>
        <ul>
            Direct link: 
            <li *ngFor="let attachment of currentTask.attachments">
                <!-- long term, we might remove direct links for safety reasons -->
                Direct link: 
                <a [href]="attachment.path" target="_blank">
                    {{ attachment.path.slice(-20) }}
                </a> 
                || <a (click)="getAttachment(attachment.id)">Deep link {{attachment.id}}</a>
                ||  <a (click)="removeAttachment(attachment.id)">Remove</a>
            </li>
        </ul>
    </div>

    <p *ngIf="!currentTask.completed">
        <button (click)="completeTask()">Complete</button>
        <button (click)="addChildTask()">Add child</button>
        <button (click)="addSiblingTask()">Add sibling</button>
        <button (click)="estimateTime()">Estimate time</button>
        <button (click)="template()">Template</button>
        <button (click)="showDeleteModal = true" style="background-color: red; float: right;">Delete task</button>
    </p>
    <p *ngIf="currentTask.completed">
        <button (click)="reactivateTask()">Reactivate</button>
    </p>



    <div class="deleteModal" *ngIf="showDeleteModal">
        <div class="deleteModalContent">
            <p>Are you sure you want to delete the task "{{ currentTask.title }}"?</p>
            <button (click)="deleteTask()" style="background-color: red;">Delete task</button>
            <button (click)="showDeleteModal = false">Cancel</button>
        </div>
    </div>
</div>
