.active {
    background-color: var(--color-secondary-1-1);
    color: var(--color-white);
}

.cardView {
    display: flex;
    flex-direction: row;
}

.topicList {}

.cardList {}

.card {}

.cardFront {
    margin: 0.25rem;
}

.cardBack {
    margin: 0.25rem;
}

.cardControls {
    margin: 0.25rem;
}

.cardStats {
    margin: 0.25rem;
    color: var(--color-light-grey);
}



form {
    margin: 0 1rem 0 1rem;
}

.formElement {
    margin: .5rem 0 .5rem 0;
}

.formElement label {
    width: 100%;
}

.formElement input, .formElement textarea {
    width: 100%;
}