.children {
    margin-left: 1rem;
}

.active {
    background-color: var(--color-secondary-1-1);
    color: var(--color-white);
}

.complete {
    text-decoration: line-through;
    color: var(--color-light-grey);
}
