<div [class]="{'entry': true}" *ngIf="ownTask && activeTask">
    <div
      [class]="{'active': ownTask.id === activeTask.id, 'complete': ownTask.completed ? true : false }"
      (click)="focusOnMe()"
      (dragOver)="handleDrag($event)"
      (drop)="handleDrop($event)"
      >
        {{ ownTask.title }}
    </div>
    <div class="children">
        <app-task-entry *ngFor="let child of ownTask.children" [ownTask]="child" [activeTask]="activeTask" draggable="true"></app-task-entry>
    </div>
</div>
