<div [class]="{'entry': true}" *ngIf="tree">
    <div [class]="{'active': tree.id === active!.id, 'complete': tree.completed ? true : false }" (contextmenu)="showContextMenu = true" (click)="focusOnMe()" #content>
        {{ tree.title }}
    </div>
    <div class="children">
        <app-task-entry *ngFor="let child of tree.children" [tree]="child" [active]="active"></app-task-entry>
    </div>
    
    <div [class]="{menu: true, visible: showContextMenu }" *ngIf="!tree.completed">
        <ul>
            <li (click)="createChildTask()">create child task</li>
            <li (click)="estimateTime()">estimate time</li>
            <li (click)="completeTask()">complete task</li>
            <li>-</li>
            <li (click)="deleteTask()" style="background-color: red;">delete task</li>
        </ul>
    </div>

    <div [class]="{menu: true, visible: showContextMenu }" *ngIf="tree.completed">
        <ul>
            <li (click)="reactivateTask()">reactivate task</li>
        </ul>
    </div>
</div>
