.children {
    margin-left: 2rem;
    border-left: 1px solid var(--color-light-grey);
}

.active {
    background-color: var(--color-secondary-1-1);
    color: var(--color-white);
}

.complete {
    text-decoration: line-through;
    color: var(--color-light-grey);
}


.urgent.soon.upcoming {
    color: var(--color-primary-0);
}
.soon.upcoming {
    color: var(--color-primary-1);
}
.upcoming {
    color: var(--color-secondary-1-1);
}

.collapsed {
    display: none;
}