<div [class]="{'entry': true}" *ngIf="ownTask && activeTask">

    <div
      [class]="{
        'active':   ownTask.id === activeTask.id, 
        'complete': ownTask.completed ? true : false,
        'urgent':   !ownTask.completed && ownTask.deadline && ownTask.deadline < currentTime,
        'soon':     !ownTask.completed && ownTask.deadline && ownTask.deadline < currentTime + 24 * 60 * 60 * 1000,
        'upcoming': !ownTask.completed && ownTask.deadline && ownTask.deadline < currentTime +  2 * 24 * 60 * 60 * 1000
     }"
      (click)="focusOnMe()"
      draggable="true"
      (dragstart)="onDragStart($event)"
      (dragover)="allowDrop($event)"
      (drop)="onDrop($event)"
      >
        {{ ownTask.title }}
    </div>

    <div class="children">
        <app-task-entry 
          *ngFor="let child of ownTask.children"
          [ownTask]="child" [activeTask]="activeTask"></app-task-entry>
    </div>
</div>
