<div class="taskView">
    <div class="left">
        <app-task-tree></app-task-tree>
    </div>
    <div class="center">
        <app-task-edit></app-task-edit>
    </div>
    <div class="right">
        <app-search></app-search>
        <app-upcoming></app-upcoming>
    </div>
</div>


<div class="completedModal" *ngIf="showCompletedModal">
    <div class="completedModalContent">
        <h3>
            Congrats, you completed task "{{ lastCompletedTask?.title }}"!
        </h3>
        <p>
            Time required: {{ lastCompletedTask?.secondsActive | secondsToTimestring }}
        </p>
        <button (click)="showCompletedModal = false">Close</button>
    </div>
</div>